<footer class="page-footer text-center text-md-left font-small red accent-4 pt-4 mt-4">
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2018 Copyright: <a href="#"> OOO "SBS Infosoft" </a>
        </div>
    </div>
</footer>